{% extends 'base.html.twig' %}

{% block title %} Bienvenue ! {% endblock %}

{% block body %}
    <h1>Vous êtes né dans le département : {{ numerodepartement }}!</h1>
    <h1>Vous etes un {{ sexe }}!</h1>
    <h1>Nous sommes le {{ date }}!</h1>
{% endblock %}
